<footer class="footer">
  <div class="footer-conteudo">
    <div class="footer-marca">
      <img src="imgs/_Logo_Academia.png" alt="Logo" class="footer-logo logo-escura" />
<img src="imgs/_Logo_Academia-claro-transparente.png" alt="Logo" class="footer-logo logo-clara" />
      <p class="footer-slogan">Escolha a modalidade e comece a se movimentar.</p>
    </div>

    <div class="footer-links">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/treinos">Treinos</a></li>
        <li><a routerLink="/planos">Planos</a></li>
        <li><a routerLink="/contato">Contato</a></li>
      </ul>
    </div>

    <div class="footer-contato">
      <h4>Contato</h4>
      <p>📍 Salvador, BA</p>
      <p>📞 (71) 98820-4439</p>
      <p>✉️ academiagusmaofitness.com</p>
    </div>
  </div>

  <div class="footer-copyright">
    <p>&copy; {{ anoAtual }} Gusmão Fitness. Todos os direitos reservados.</p>
  </div>
</footer>
